<div class="col-xl-3 col-lg-4">
    <!-- categories-->
    
    <h6 class="text-uppercase mb-4">Categories</h6>
    <ul class="list-unstyled">
      <li><a class="d-flex justify-content-between align-items-center sidebar-link-header" href="#"><span>Breaking News</span><small class="badge fw-normal bg-dark rounded-pill text-white">200</small></a>
        <ul class="list-unstyled ms-4">
          <li> <a class="sidebar-link" href="#">Sports</a></li>
          <li> <a class="sidebar-link" href="#">Coronavirus</a></li>
          <li> <a class="sidebar-link" href="#">Tech</a></li>
        </ul>
      </li>

      <li class="active"><a class="d-flex justify-content-between align-items-center sidebar-link-header active" href="#"><span>Sports</span><small class="badge fw-normal bg-white rounded-pill text-dark">120</small></a>
        <ul class="list-unstyled ms-4">
          <li> <a class="sidebar-link" href="#">Footboll</a></li>
          <li> <a class="sidebar-link" href="#">Olympics</a></li>
          <li> <a class="sidebar-link" href="#">Formula 1</a></li>
          <li> <a class="sidebar-link" href="#">Box</a></li>
        </ul>
      </li>

      <li><a class="d-flex justify-content-between align-items-center sidebar-link-header" href="#"><span>World News</span><small class="badge fw-normal bg-dark rounded-pill text-white">80</small></a>
        <ul class="list-unstyled ms-4 mb-0">
          <li> <a class="sidebar-link" href="#">Arts & Entertainment</a></li>
          <li> <a class="sidebar-link" href="#">Race & Reckoning</a></li>
          <li> <a class="sidebar-link" href="#">Tech</a></li>
          <li> <a class="sidebar-link" href="#">Investigations</a></li>
        </ul>
      </li>
    
    </ul>
    <div class="border-bottom my-5"></div>
    
    
  </div>